body {
    background-color: ivory;
}

h1 {
    color: steelblue;
    text-align: center;
    font-family: 'Georgia', serif;
}

p {
    color: blue;
    font-family: 'Verdana', sans-serif;
}

h2 {
    color: deepskyblue;
    font-family: 'Georgia', serif;
}

ul, ol, dl {
    color: slateblue;
    font-family: 'Courier New', monospace;
    font-size: 16px;
}
